@mixin centered-header ($bg-color, $height) {
    text-align: center;
    background-color: $bg-color;
    line-height: $height;
}

@mixin btn-color ($base, $hover, $active, $font-color) {
    background-color: $base;
    color: $font-color;
    border-color: $base;

    &:hover {
        background-color: $hover;
        border-color: $hover;
    }

    &:active {
        box-shadow: 0 0 3px 3px $active;
        color: $font-color;
        border-color: $base;
    }
}

@mixin input-style {
    border: 1px solid $base-grey;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: 14px;
}