$base-white: rgb(255, 255, 255);

// grey colors
$light-grey: rgb(240, 240, 240);
$base-grey: rgb(220, 220, 220);
$dark-grey: rgb(180, 180, 180);
$black-grey: rgb(60, 60, 60);

// red colors
$base-red: rgb(255, 0, 0);
$dark-red: rgb(180, 0, 0);
$transp-red: rgba(255, 0, 0, 0.7);
$light-red: rgb(235, 120, 120);

// yellow colors
$base-gold: rgb(255, 215, 0);
$dark-gold: rgb(218, 165, 32);
$transp-yellow: rgba(255, 215, 0, 0.7);

// green colors
$base-green: rgb(0, 180, 0);
$dark-green: rgb(0, 88, 0);
$transp-green: rgba(0, 180, 0, 0.7);

// blue colors:
$base-blue: rgb(0, 180, 180);
$dark-blue: rgb(0, 128, 128);
$transp-blue: rgba(0, 180, 180, 0.7);